:root {

    /* Font sizes */
    --fs-sm: clamp(0.875rem, 1rem + 1.1vw, 1.3rem);
    --fs-md: clamp(1rem, 1rem + 1.35vw, 1.5rem);
    --fs-lg: clamp(1.35rem, 1.35rem + 0.75vw, 2.6rem);
    --fs-xl: clamp(1.8rem, 1.35rem + 1.8vw, 3rem);
    --fs-xxl: clamp(2.5rem, 1.7rem + 3vw, 5rem);

    /* colors */
   --color-bg: #F1EAE1;
    --color-card: #FFFFFF;
    --color-text: #2b211d;
    --color-dark: #1f1714;
    --color-muted: #80675d;
    --color-primary: #ff6846;
    --color-border: #dfcfc3;

    /* Fonts */
    --font-main: "Inter", sans-serif;
    --font-heading: "Poppins", sans-serif;
}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {

    font: inherit;
}

button {

    cursor: pointer;
}

a {

    text-decoration: none;
}

body {

    font-family: "Inter", sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100vh;

    color: var(--color-dark);
    background-color: var(--color-bg);
}
