.productDetailsPageContainer {

    flex: 1;
    padding: 4rem 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.productContainer {

    display: flex;
    justify-content: center;
    align-items: center;
}

.productInfo {

    display: flex;
    flex-direction: column;
}

/* Form */
.styles.formContainer {

    display: flex;
}
/* Form */